%ul
  - if current_user
    - if current_user.admin
      - @questions = @all_questions
    - else
      - @questions = @empty_questions
  - @questions.each do |question|
    %li
      = question.content
      - if current_user.admin
        =link_to faq_path(question), method: :put do
          - if question.active
            = "Delete"
            %i.fa.fa-trash
          - else
            = "Recover"
            %i.fa.fa-medkit
