@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.align-middle {
  vertical-align: middle;
  display: inline-block;
  float: none;
}
// This is the bootstrap btn-dark
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
  box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
}
.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #171a1d;
  border-color: #171a1d;
}
.btn-dark:active:hover,
.btn-dark.active:hover,
.open > .dropdown-toggle.btn-dark:hover,
.btn-dark:active:focus,
.btn-dark.active:focus,
.open > .dropdown-toggle.btn-dark:focus,
.btn-dark:active.focus,
.btn-dark.active.focus,
.open > .dropdown-toggle.btn-dark.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus,
.btn-dark[disabled].focus,
fieldset[disabled] .btn-dark.focus {
  background-color: #fff;
  border-color: #ccc;
}
// .btn-dark .badge {
//   color: #fff;
//   background-color: #333;
// }
