//= require iCheck/custom.css
//= require dataTables/datatables.min.css
//= require select2/select2.min
//= require chosen/bootstrap-chosen

th.title {
  min-width: 200px;
}

th.columntitle {
  font-size: 12px;
}

.btn-delete {
  color: #ed5565;
}

td.columntext {
  font-size: 10px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f2f20d;
}

.display { display: block; overflow: hidden; }
