.widget .fa-stack .fa-stack-1x{ text-align: left; bottom: 0; line-height: initial !important; width: auto; color: #242424 !Important; background: #b3b3b3; padding: 3px;}
.widget { position: relative; }
